@import '@styles/utils.scss';

.info-agendamentos{
    @include display-flex($flex-direction: column, $flex-wrap: nowrap, $justify-content: center, $align-items: flex-start, $gap: 1.5rem);
    @include padding(0rem, 0rem, 2rem, 0rem);

    .custom-calendar{
        width: 100%;

        .selected{
            @include border(0.2rem,  $blue-one-color, solid, 0rem);
        }

        .disabled{
            background: $gray-one-color;
            color: #ccc;
        }
    }

    .horarios{
        width: 100%;
        @include padding(1rem, 0rem, 1rem, 0rem);
        @include display-flex($flex-direction: row, $flex-wrap: wrap, $justify-content: flex-start, $align-items: center, $gap: 1rem);

        .horario{
            @include padding(1rem, 2rem, 1rem, 2rem);
            @include border(0.2rem,  $blue-two-color, solid, 1rem);
            color: $blue-three-color;
            cursor: pointer;
            transition: .3s;

            &:hover{
                @include transform-scale(1.05);
            }
        }

        .horario.selecionado{
            @include border(0.2rem,  transparent, solid, 1rem);
            color: $white-one-color;
            background: $blue-one-color;
            font-weight: bold;
        }
    }

    &>button{
        background: transparent;
        cursor: pointer;
        width: 100%;
        @include padding(1rem, 2rem, 1rem, 2rem);
        color: $white-one-color;
        background: $blue-one-color;
        font-weight: bold;
        @include border-radius(3rem, 3rem, 3rem, 3rem);
        transition: .3s;

        &:hover{
            @include transform-scale(1.02);
        }
    }

    .loader{
        @include loader($side: 5rem, $thickness: 0.5rem, $color: $blue-one-color, $top-color: white);
        display: none
    } 
}

