@import '@styles/utils.scss';

.filtros{
    width: 100%;
    background: $white-one-color;

    @include display-flex($flex-direction: column, $flex-wrap: nowrap, $justify-content: center, $align-items: center, $gap: 3rem);

    @include padding(2rem, 2rem, 2rem, 2rem);
    @include border-radius(2rem, 2rem, 2rem, 2rem);

    img{
        max-width: 2.5rem;
    }

    .aba-filtros{
        @include display-flex($flex-direction: row, $flex-wrap: wrap, $justify-content: center, $align-items: flex-start, $gap: 3rem);

        .filtro-nome, .filtro-abordagem, .filtro-especialidade, .filtro-interesse, .filtro-idiomas{
            @include display-flex($flex-direction: column, $flex-wrap: nowrap, $justify-content: center, $align-items: flex-start, $gap: 1rem);

            @media(max-width: 640px){
                align-items: center;
            }

            input, select{
                @include border(0.18rem, $black-one-color, solid, 10rem);
                @include padding(1rem, 4rem, 1rem, 1rem);
                width: 100%;
            }
        }

        .filtro-nome{
            div{
                position: relative;

                img{
                    position: absolute;
                    right: 1rem;
                    top: 0.7rem;
                }
            }
        }

        .filtro-preco{
            @include display-flex($flex-direction: column, $flex-wrap: nowrap, $justify-content: center, $align-items: flex-start, $gap: 1rem);

            @media(max-width: 640px){
                align-items: center;
            }

            input{
                width: 12rem;
                @include border(0.18rem, $black-one-color, solid, 10rem);
                @include padding(1rem, 4rem, 1rem, 1rem);
            }

            div{
                @include display-flex($flex-direction: row, $flex-wrap: wrap, $justify-content: center, $align-items: center, $gap: 1rem);
            }
        }

        .filtro-genero, .filtro-disponilidade{
            @include display-flex($flex-direction: column, $flex-wrap: nowrap, $justify-content: center, $align-items: flex-start, $gap: 1rem);

            @media(max-width: 640px){
                align-items: center;
            }

            input{
                display: none;
            }

            div{
                @include display-flex($flex-direction: row, $flex-wrap: wrap, $justify-content: center, $align-items: center, $gap: 1rem);

                label{
                    @include border(0.18rem, $black-one-color, solid, 10rem);
                    color: $black-one-color;
                    font-weight: bold;
                    @include padding(1rem, 2rem, 1rem, 2rem);
                    @include border-radius(10rem, 10rem, 10rem, 10rem);
                    cursor: pointer;

                    &.selected{
                        background: $black-one-color;
                        color: $white-one-color;
                    }
                }
            }
        }
    }

    .filtros-buttons{
        width: 100%;
        @include display-flex($flex-direction: row, $flex-wrap: wrap, $justify-content: flex-end, $align-items: center, $gap: 2rem);

        @media(max-width: 640px){
            justify-content: center;
        }

        button{
            @include padding(1rem, 3rem, 1rem, 3rem);
        }

        button{
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            transition: .3s;

            &:hover{
                transform: scale(1.05);
            }
        }

        &>button:nth-of-type(1){
            @include border(0.2rem, $blue-one-color, solid, 10rem);
            background: transparent;
            @include padding(1.5rem, 3rem, 1.5rem, 3rem);
            color: $blue-one-color;
        }

        &>button:nth-of-type(2){
            @include border-radius(10rem, 10rem, 10rem, 10rem);
            background: $blue-one-color;
            @include padding(1.5rem, 3rem, 1.5rem, 3rem);
            color: $white-one-color;
        }
    }

    div.options-box{
        width: 100%;
        position: relative;
        width: 30rem;

        @media (max-width: 400px){
            width: 100%;
        }

        .options-search{
            @include border(0.18rem, $black-one-color, solid, 10rem);
            @include padding(1rem, 1.5rem, 1rem, 1.5rem);

            &::placeholder{
                color: $black-one-color;
            }

            &.make-borders-radius{
                @include border-radius(1rem, 1rem, 0rem, 0rem);
            }
        }
    }
    
    div.options-dropbox{
        position: absolute;
        top: 4rem;
        right: 0rem;
        left: 0rem;
        background: $white-one-color;
        z-index: 10000;
        
        width: 100%;
        @include display-flex($flex-direction: column, $flex-wrap: nowrap, $justify-content: flex-start, $align-items: flex-start, $gap: 0rem);
        @include border(0.2rem, $black-one-color, solid, 0rem);
        @include border-radius(0rem, 0rem, 1rem, 1rem);
    
        max-height: 20rem;
        overflow: auto;
    
        label{
            width: 100%;
            @include display-flex($flex-direction: row, $flex-wrap: nowrap, $justify-content: flex-start, $align-items: center, $gap: 1rem);
            @include padding(1.5rem, 1.5rem, 1.5rem, 1.5rem);
    
            input{
                width: 1.6rem !important;
                height: 1.6rem !important;
            }
    
            p{
                width: 90%;
            }
        }
    }
}

.loader, .loader-filters{
    @include loader($side: 5rem, $thickness: 0.5rem, $color: $blue-one-color, $top-color: white);
    display: inline-block;
} 

.loader {
    display: none;
}

.error{
    width: 100%;
    text-align: right;
    color: red;
}